.card{
  position: relative;
  margin: 20px auto;
  width: 90vw;
  max-width: 1200px;
  padding: 0 10px;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.3);
  animation: fadeIn 0.7s ease forwards;
}

@keyframes fadeIn {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100%{
    transform: translateY(0px);
    opacity: 1;
  }
}