.header {
  width: 100vw;
  height: 70px;
  background-color: rgb(255, 229, 81);
  box-shadow: 0px 2px 5px rgba(0,0,0,0.3);
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__title{
  font-size: 28px;
}

.header__content {
  width: 90vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}