.header {
  background-color: #fff;
  width: 60vw;
  height: 70px;
  padding: 0 5%;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
}

.header img {
  height: 35px;
  object-fit: cover;
}

.header span {
  margin: 0 7px;
  font-size: 12px;
}

.header small {
  cursor: pointer;
}

.header__toolbox{
  float: right;
  height: 30px;
}